<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminApplication">
        <activity android:name=".Notice.deleteNotice"></activity>
        <activity android:name=".faculty.updateTeacher" />
        <activity android:name=".faculty.addFaculty" />
        <activity android:name=".faculty.updateFaculty" />
        <activity android:name=".UploadPdfActivity" />
        <activity android:name=".uploadGallery" />
        <activity android:name=".Notice.addNotice" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>